PORT=3333
HUB_API_TOKEN=mt_asdfyghjklzxcvbnm

# Use o mesmo e-mail e senha que voce usa para entrar no Motion Hub.
HUB_EMAIL=vitorfalcochio@gmail.com
HUB_PASSWORD=@Vitor091107

# Ja vem preenchido no server.js, mas pode sobrescrever aqui se mudar o projeto.
SUPABASE_URL=https://zwqcbwiegcndwvqprcdt.supabase.co
SUPABASE_KEY=sb_publishable_DQg6Q79FXornM4XKlKGkJw_OQjUGEvz










# Configurar na Vercel

HUB_API_TOKEN=mt_asdfyghjklzxcvbnm
HUB_EMAIL=vitorfalcochio@gmail.com
HUB_PASSWORD=@Vitor091107
SUPABASE_URL=https://zwqcbwiegcndwvqprcdt.supabase.co
SUPABASE_KEY=sb_publishable_DQg6Q79FXornM4XKlKGkJw_OQjUGEvz

